<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><a href="new">Add dog to database</a></p>
      <p><a href="register">Add new user</a></p>
      <p><a href="logout">Logout</a></p>
    </div>
  </div>
</div>

<% include partials/footer %>