<% include partials/header %>
<div class="container">

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <img class="card-img-top" src="https://farm8.staticflickr.com/7058/6805162628_553423b51f.jpg" alt="">
        <div class="card-body">
          <h2 class="card-title text-center">Meet Harley!</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, arcu aptent. Leo elementum pretium mi rem. Cras eleifend feugiat. Hendrerit mus pellentesque pharetra.</p>
          <p class="text-center"><a href="#" class="btn btn-primary">Learn more!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Find your new best friend!</h3>
          <form>
            <div class="form-group">
              <label class="col-form-label" for="formGroupExampleInput">Breed</label>
              <input type="text" class="form-control" id="">
            </div>
            <label class="col-form-label" for="formGroupExampleInput">
              Size
            </label>
            <div class="row">

                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="" value=""> S
                </label>

                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="" value=""> M
                </label>

                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="" value=""> L
                </label>

                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="" value=""> XL
                </label>

            </div>

            <label class="col-form-label" for="formGroupExampleInput">Age</label>
            <div class="row">

                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="" value=""> Puppy
                </label>

                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="" value=""> Young
                </label>

                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="" value=""> Adult
                </label>

                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="" value=""> Senior
                </label>

            </div>
            <div class="row">
              <div class="col text-center">
                <hr>
                <button type="submit" class="btn btn-primary">Fetch!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Browse other adoptable dogs</h3>
          <div class="row">
            <div class="col-md-3">
              <img src="https://farm3.staticflickr.com/2680/4073673270_3c2315fb3c.jpg" class="img-thumbnail">
              <h5 class="card-title text-center">Maisy</h5>
            </div>
            <div class="col-md-3">
              <img src="https://farm9.staticflickr.com/8320/8034482042_ed249192e9.jpg" class="img-thumbnail">
              <h5 class="card-title text-center">Nanook</h5>
            </div>
            <div class="col-md-3">
              <img src="https://farm1.staticflickr.com/91/238957145_485ba97dcc.jpg" class="img-thumbnail">
              <h5 class="card-title text-center">Roger</h5>
            </div>
            <div class="col-md-3">
              <img src="https://farm8.staticflickr.com/7151/6698150783_161b18182e.jpg" class="img-thumbnail">
              <h5 class="card-title text-center">Odie</h5>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <a href="/dogs"><button class="btn btn-primary">See more!</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h4>Help us help them!</h4>
      <p>PayPal | Amazon</p>
    </div>
  </div>

</div>
<% include partials/footer %>