<% include partials/header %>

<div class="container">
  <div class="row dogItem">
    <div class="col-md-5">
      <img class="img-fluid rounded" src="<%= dog.image %>">
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-lg-12">
          <h1><%= dog.name %></h1>
          <p>Age: Young
          <br>Breed: Pit bull mix</br></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p><%= dog.description %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-heart" aria-hidden="true"></i> Requires special care</li>
            <li class="list-inline-item"><i class="fa fa-child" aria-hidden="true"></i> No children </li>
            <li class="list-inline-item"><i class="fa fa-check" aria-hidden="true"></i> Cats OK</p></li>
          </ul>
        <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <a href="#" class="btn btn-primary">Meet <%= dog.name %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>