body {
  background-color: #fffae5;
}

.navbar {
  background-color: #ffcd05;
}

.navbar a {
  color: #3d3d3d;
}

.navbar li {
  margin: 10px 1.7rem 0 0;
}

i {
  margin-top: -5px;
}

.navbar-brand img {
  width: 60px;
  margin: 0 15px;
  padding: 0;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
}

.container > .row {
  padding-top: 20px;
}

footer {
  color: #aaa;
  margin-top: 150px;
  font-size: 0.8rem;
}

.checkmarks {
  margin: 0;
}

.form-check-label {
  padding-left: 2.25rem;
  margin-bottom: 0;
}

.btn-primary {
  background-color: #ffcd05;
  border-color: #e6be1e;
  color: #3d3d3d;
}

.btn-primary:hover {
  background-color: #c1ff05;
  border-color: #DDD;
  color: #3d3d3d;
}

.dogItem {
  background-color: #FFF;
  border: 1px solid #e6be1e;
  border-radius: 5px;
  margin-top: 25px;
  padding: 25px;
}

.dogProfileCard {
  width: 50rem;
}